<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh;">
    <a href="http://127.0.0.1:8000" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-bootstrap-fill me-2" style="font-size: 2rem;"></i>
        <span class="fs-4 increase" style="font-weight: bold; font-size: 1.5rem; color: blue;">Мой Проект</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item increase">
            <a href="http://127.0.0.1:8000" class="nav-link text-white {% if request.path == '/' or request.path == '/the_right_server/' %}active{% endif %}" aria-current="page">
                <i class="bi bi-house-door me-2"></i> Главная
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/workers/" class="nav-link text-white {% if 'workers' in request.path %}active{% endif %}">
                <i class="bi bi-speedometer2 me-2"></i> Персонал
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/departments/" class="nav-link text-white {% if 'departments' in request.path %}active{% endif %}">
                <i class="bi bi-table me-2"></i> Отделы
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/users/" class="nav-link text-white {% if 'users' in request.path %}active{% endif %}">
                <i class="bi bi-grid me-2"></i> Пользователи
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/posts/" class="nav-link text-white {% if 'posts' in request.path %}active{% endif %}">
                <i class="bi bi-person-circle me-2"></i> Блог
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/mini/" class="nav-link text-white {% if 'mini' in request.path %}active{% endif %}">
                <i class="bi bi-graph-up me-2"></i> Мини
            </a>
        </li>
        <li>
            <a href="http://127.0.0.1:8000/admin/" class="nav-link text-white {% if 'admin' in request.path %}active{% endif %}">
                <i class="bi bi-gear me-2"></i> Админ
            </a>
        </li>
    </ul>
    <hr>
    <div>
        <li><a class="dropdown-item" href="https://www.google.com/?hl=ru">Выйти</a></li>
    </div>
</div>